body {
    font-family: 'Exo 2', sans-serif;
    font-weight: 100;
    height: 100%
}

.button-bar {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

#myVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.viewport-header {
    backdrop-filter: blur(8.99px);
    background: rgba(black, 0.66);
    color: white;
    position: relative;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1vw;
    line-height: 1.2;
    font-size: 3vw;
    text-align: center;
}

span {
    display: block;
    font-size: 10vw;
    letter-spacing: -0.3vw;
}

main {
    background: rgba(black, 0.66);
    color: white;
    position: relative;
    padding: 1rem;
    text-align: center;
}

.room-selection {
    background-color: #ffffff;
    color: #000000;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
}

.room-selection:hover {
    background-color: #000000;
    color: #ffffff;
}

#randomWebsiteLink {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 30px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#randomWebsiteLink:hover {
    background-color: #ffffff;
    color: #000000;
}